* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: 'Courier New', Courier, monospace;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000;
}

.button {
	z-index: 1;
	position: relative;
	font-size: 24px;
	cursor: pointer;
	padding: 20px 40px;
	border: none;
	outline: none;
	transition: all 0.4s;
	background-color: #fff;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
}

.button::after {
	content: '';
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #fff;
	transition: all 0.4s;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
}

.button:hover::after {
	transform: scale(1.2, 1.4);
	-webkit-transform: scale(1.2, 1.4);
	-moz-transform: scale(1.2, 1.4);
	-ms-transform: scale(1.2, 1.4);
	-o-transform: scale(1.2, 1.4);
	opacity: 0;
}

.button:hover {
	transform: translateY(-5px);
	-webkit-transform: translateY(-5px);
	-moz-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	-o-transform: translateY(-5px);
}
